html {
  scroll-behavior: smooth;
}

/* VARIABLES */

:root {
  --dark-green: #41a650;
  --dark-teal: #4197a6;
  --dark-grey: #4f4f4f;
}

/* MAIN ELEMENTS */

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  margin: 0;
  padding-top: 1rem;
  width: 100vw;
}

main {
  display: flex;
  color: #000;
  width: 100vw;
  height: fit-content;
  flex-grow: 1;
}

footer {
  width: 100vw;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  color: #000;
  background-color: var(--dark-grey);
}

/* TEXT */
