html {
  scroll-behavior: smooth;
}

/* VARIABLES */

:root {
  --light-green: #41a650;
  --dark-green: #25592c;
  --dark-teal: #4197a6;
  --dark-grey: #4f4f4f;
  --text-normal: 1rem;
  --text-h1: 1.5rem;
  --border: 1px solid;
}

/* CONTENT CONTAINER */

.content-container {
  max-width: 1920px;
  margin: 0 auto;
}

/* FLEX REUSABLES */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* MAIN ELEMENTS */

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  margin: 0;
  padding-top: 1rem;
  width: 100vw;
}

main {
  display: flex;
  color: black;
  width: 100vw;
  height: fit-content;
  flex-grow: 1;
  flex-direction: column;
}

footer {
  width: 100vw;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  color: black;
  background-color: var(--dark-grey);
}

.icon-navigation-wrapper {
  display: flex;
  border: var(--border) var(--dark-grey);
  margin: 2rem;
  justify-content: space-between;
  padding: 0.2rem;
}

.icon-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-container {
  align-items: center;
  text-align: center;
}

.opening-hours {
  display: none;
}

.quick-nav-bar {
  display: flex;
  background-color: var(--light-green);
  color: #fff;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  border: var(--border) var(--dark-green);
  width: 100%;
  height: 5vh;
}

.explore-together-wrapper {
  margin: 0 2rem 0 2rem;
  padding-bottom: 1rem;
}

.header1 {
  gap: 10rem;
}

.content-card-container {
  display: flex;
  flex-direction: column;
  border: var(--border) black;
  margin: 1.8rem 1.8rem 0.9rem 1.8rem;
}

/* TEXT */

.header-text {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.explore-together-heading > h2 {
  font-size: var(--text-h1);
  margin-left: 1rem;
}

footer * a,
footer * h3,
footer * p {
  color: #fff;
}

.icon-navigation-container > a {
  color: black;
  font-size: 0.8rem;
}

.header-position-large {
  display: none;
}

.header-position-small {
  text-align: center;
}

.header-position-small h1 {
  font-size: var(--text-h1);
  margin-bottom: 3rem;
}

.heading-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1.8rem;
}

.content-card-container h2 {
  border: var(--border) black;
  background: var(--light-green);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.content-card-container p {
  padding: 0 1rem;
  margin-top: 0;
}

.inline-anchor {
  text-decoration: underline;
  color: black;
}

.inline-anchor:hover {
  font-weight: bold;
}

/* NAVIGATION */

.desktop-nav {
  display: none;
}

.hamburger-wrapper {
  margin-top: 2rem;
}

#hamburger-menu {
  display: none;
}

.hamburger-label {
  color: var(--light-green);
  font-size: 3rem;
  display: block;
  transition: width 0.3s ease-in-out;
}

.nav-overlay {
  background-color: #fff;
  color: black;
  position: fixed;
  width: 50vw;
  height: 50vh;
  z-index: 1111;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  border: var(--border) black;
}

.nav-overlay ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-overlay ul a {
  position: relative;
  text-decoration: none;
  display: block;
  color: black;
  padding: 1rem 1.2rem;
}

#hamburger-menu:checked ~ .nav-overlay {
  transform: translateX(-55%);
}

#hamburger-menu:checked + .hamburger-label {
  display: inline;
  width: 250px;
}

.active {
  background-color: var(--light-green);
  border: var(--border) black;
}

.heading-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.heading-nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.heading-nav ul a {
  padding: 0.2rem 0.6rem;
  border: var(--border) black;
  background-color: var(--dark-teal);
  color: black;
}

.heading-nav ul a:hover {
  text-decoration: underline;
}

.get-involved-heading-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
}

/* FORMS */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.create-account-form-extra-large {
  width: 50vw;
  height: 10vh;
}

.create-account-form-large {
  border-radius: 5px;
  width: 50vw;
  height: 3vh;
}

/* OVERLAYS */

#hours-dropdown,
#visit-dropdown,
.hours-overlay,
.visit-overlay {
  display: none;
}

.hours-overlay,
.visit-overlay {
  position: absolute;
  background: white;
  color: black;
  border: var(--border) black;
  padding: 0 1rem 2rem 1rem;
  top: 37%;
  left: 5%;
}

.visit-overlay img {
  width: 100%;
}

#hours-dropdown:checked ~ .hours-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

#visit-dropdown:checked ~ .visit-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.info-button {
  background: var(--dark-teal);
  border: var(--border) black;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.info-button a {
  color: black;
}

.info-button a:hover {
  text-decoration: underline;
}

/* ICONS */

.material-icons {
  position: relative;
}

.material-icons:hover {
  cursor: pointer;
}

.material-icons.md-48 {
  font-size: 3rem;
}

.material-icons.md-36 {
  font-size: 2.25rem;
}

.material-icons.md-24 {
  font-size: 1.5rem;
}

.material-icons.md-18 {
  font-size: 1.12rem;
}

/* IMAGES */

.header-image {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../images/billetto-editorial-334686.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.header-logo {
  width: 134px;
}

.nav-icon-small {
  width: 44px;
}

.explore-together-heading {
  display: flex;
  background: url("../images/scientific-2040795_1280.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  align-items: flex-end;
  color: #fff;
}

.page-icon-medium {
  width: 20%;
}

.exhibition-content-image {
  width: 315px;
}

.explore-together-image {
  display: none;
}

/* HIDDEN TEXT FOR ACCESSIBILITY */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* MEDIA QUERIES */

/* TABLET */

@media only screen and (min-width: 800px) {
  .opening-hours {
    display: flex;
  }

  .hamburger-label,
  .nav-overlay {
    display: none;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1280px) {
  .header-position-large {
    display: flex;
    flex-direction: column;
  }

  .header-position-large p,
  .header-position-large h1 {
    margin: 0;
    padding: 0;
  }

  .header1 {
    gap: 3rem;
    align-items: center;
  }

  .header-position-small {
    display: none;
  }

  .hamburger-label,
  .nav-overlay {
    display: none;
  }

  .header-image {
    height: 50vh;
  }

  .fa-bars {
    display: none;
  }

  .desktop-nav {
    display: flex;
    margin-left: 0;
  }

  .desktop-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 1rem;
  }

  .desktop-nav ul a {
    text-decoration: none;
    color: white;
    padding: 0.6rem 1rem;
    background-color: var(--light-green);
    border: var(--border) black;
  }

  .desktop-nav ul a:hover {
    background-color: white;
    color: var(--light-green);
  }

  .quick-nav-bar {
    font-size: 1.8rem;
    height: 8vh;
    gap: 30vw;
  }

  .icon-navigation-container > a {
    font-size: 1.5rem;
  }

  .nav-icon-small {
    width: 100px;
  }

  .icon-navigation-wrapper {
    width: 80vw;
    align-self: center;
    justify-content: center;
    gap: 15rem;
  }

  .explore-together-heading {
    background: none;
    color: black;
  }

  .explore-together-wrapper {
    display: flex;
    width: 80vw;
    align-self: center;
  }

  .explore-together-heading {
    height: 100%;
  }

  .explore-together-heading > h2 {
    margin-left: 0;
  }

  .explore-together-image {
    display: block;
    width: 30vw;
  }
}
